body
{
    text-align: center;
    color: rgb(27, 27, 27);
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #33A;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    -webkit-box-shadow: -22px 6px 41px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: -22px 6px 41px 1px rgba(0,0,0,0.35);
    box-shadow: -22px 6px 41px 1px rgba(0,0,0,0.35);

}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#post
{

}